
/* background image */
header {
    background-image: url(../img/header.jpg);
    height: 500px;
    background-position: center;
}

/* logo */
.resize {
    height: 70px;
    width: 70px;
}

.thumbnail {
    max-width: 30%;
    height: auto;
}