/* background image */
header {
    background-image: url(../img/recipes/paella/paella-header.jpg);
    height: 500px;
    background-position: center;
}

/* Arrondi background ingrédients */
.ingredients-border {
    border-radius: 20px;
max-height: 35px;
}

/* Positions photos recettes */
.relative-recipe {
    position: relative;
    height: 100%;
}
.absolute-recipe {
    position: absolute;
    bottom: -17px;
    left: 10px;
}
.resize-recipe {
    max-width: 100%;
    height: auto;
}

@media (min-width:1000px) {
    .relative-recipe {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 700px) {
    .resize-recipe {
        min-width: 200px;
        height: auto;
    }
}