/* background image */
header {
    background-image: url(../img/team/team.jpg);
    height: 500px;
    background-position: center;
}

/* Photos team */
.border-radius-circle {
    border-radius: 1000px;
    width: 100px;
    height: auto;
}
@media (max-width:991px) {
    .border-radius-circle {
        width: 300px;
        height: auto;
    }
}